<h1>Sign up here!</h1>

<form action="/signup" method="post">
  <label for="username">Username: </label>
  <input type="text" username="username" value="">
  <label for="password">Password: </label>
  <input type="text" name="password" value="">
  <input type="submit" name="" value="Create User">
</form>

<a href="/">Back</a>