<!DOCTYPE html>
<html>
<body>
<center>
<p style = "font-family: didot; font-size:40px">
The Daily Record
</p>
</center>

<center>
<img srcset="https://cdn.pixabay.com/photo/2018/03/19/18/20/tea-time-3240766_960_720.jpg 1x, https://cdn.pixabay.com/photo/2018/03/19/18/20/tea-time-3240766_1280.jpg" src="https://cdn.pixabay.com/photo/2018/03/19/18/20/tea-time-3240766_960_720.jpg" width="672" height="448" alt="Tea Time, Poetry, Coffee, Reading, Leisure, Table, Cup">
<br> <br>
Creative Commons Photo by ThoughtCatalog <a href="https://pixabay.com/photos/tea-time-poetry-coffee-reading-3240766/">
</center>

<center>
<p style = "font-family: didot">
<a href="/login">Log In</a> OR <a href="/signup">Sign Up</a>
</p>
</center>
</body>
</html>